.todo-container
{
    width:35vw;
    height:100vh;
}
.todo-info-container
{
    height:15%;
    display:flex;
    font-size: 60px;
    font-weight: bold;
}
.todo-info-text
{
    margin-top:auto;
}
.todo-list-container
{
    position:relative;
    margin-top: 30px;
}
.todo
{
    width: 95%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 13px;
    text-align: left;
    background-color: #73b573;
    display:flex;
    align-items : center;
}
.todo.todo-add-button
{
    background-color: white;
    border:1px solid black;
    box-sizing: border-box;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.todo-day-text
{
    width: 15%;
    color: black;
    margin-left: 15px;
    border-right: 1px solid black;
}
.todo-name-text
{
    width: 85%;
    margin-left: 5px;
    color: black;
}
.todo-checkbox
{
    margin-left: auto;
    margin-right: 15px;
    width: 30px;
    height: 30px;
}
.todo-dayover
{
    background-color: rgb(255, 0, 0);
}
.todo-inprogress
{
    background-color : greenyellow;
}
.todo-d1
{
    background-color: rgb(255, 85, 0);
}
.todo-d2
{
    background-color: rgb(255, 170, 0);
}
.todo-d3
{
    background-color: rgb(255, 255, 0);
}
#calender-addtodo-popup
{
    display: none;
    position: absolute;
    top: 25%;
    left: 17%;
    width: 275px;
    height: 80px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
    z-index: 1000;
}