<!DOCTYPE html>
<html>
    <head>
        <title> 일정관리 </title>
        <link rel="stylesheet" type="text/css" href="/css/calender.css">
        <script defer src="/js/calender.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="calender-container">
                <div class="calender-info-container">
                    <div class="calender-info-month">
                        <span id="calender-info-month-text"> JULY</span>
                        <span id="calender-info-year-text">2025</span>
                    </div>
                    <div class="calender-info-button-container">
                        <button onclick='monthDecrease()' id="calender-info-leftbutton" class="calender-info-button"></button>
                        <button onclick='monthCurrent()' id="calender-info-todaybutton" class="calender-info-button">TODAY</button>
                        <button onclick='monthIncrease()' id="calender-info-rightbutton" class="calender-info-button"></button>
                    </div>
                </div>
                <div class="calender-date-container"> 
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                    <div class="calender-date"></div>
                </div>
            </div>
            <div class = "todo-container"> TODO_List </div>
        </div>
    </body>
</html>

