<!DOCTYPE html>
<html>
    <head>
        <title> 일정관리 </title>
        <link rel="stylesheet" type="text/css" href="/css/calender.css">
        <link rel="stylesheet" type="text/css" href="/css/todo.css">
        <script defer src="/js/calender.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="calender-container">
                <div class="calender-info-container">
                    <div class="calender-info-month">
                        <span id="calender-info-month-text"> JULY</span>
                        <span id="calender-info-year-text">2025</span>
                    </div>
                    <div class="calender-info-button-container">
                        <button onclick='monthDecrease()' id="calender-info-leftbutton" class="calender-info-button"></button>
                        <button onclick='monthCurrent()' id="calender-info-todaybutton" class="calender-info-button">TODAY</button>
                        <button onclick='monthIncrease()' id="calender-info-rightbutton" class="calender-info-button"></button>
                    </div>
                </div>
                <div class="calender-date-day-container">
                    <div class="calender-date-day"> SUN.</div>
                    <div class="calender-date-day"> MON.</div>
                    <div class="calender-date-day"> TUE.</div>
                    <div class="calender-date-day"> WED.</div>
                    <div class="calender-date-day"> THU.</div>
                    <div class="calender-date-day"> FRI.</div>
                    <div class="calender-date-day"> SAT.</div>
                </div>
                <div id="calender-date-container"> 

                </div>
                <div id="calender-addschedule-popup">
                    <button class="close-button" onclick="closeAddSchedulePopup()">✖</button>
                    <form style="line-height: 40%;" action="/add/schedule" method="post">
                        <input type="text" name="name" placeholder="이름">
                        <input type="color" name="color" value="#00FFFF">
                        <br><br>
                        <input type="date" name="startDate" id="input-start-date">
                        ~
                        <input type="date" name="endDate" id="input-end-date">
                        <br><br>
                        <textarea name="description" cols="50" rows="5" placeholder="설명"></textarea>
                        <br><br>
                        <input type="submit" value="저장">
                    </form>
                </div>
            </div>
            <div class = "todo-container"> TODO_List </div>
        </div>
    </body>
</html>

