<!DOCTYPE html>
<html>
    <head>
        <title> 일정관리 </title>
        <link rel="stylesheet" type="text/css" href="/css/calender.css">
        <link rel="stylesheet" type="text/css" href="/css/todo.css">
        <script defer src="/js/calender.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="calender-container">
                <div class="calender-info-container">
                    <div class="calender-info-month">
                        <span id="calender-info-month-text"> JULY</span>
                        <span id="calender-info-year-text">2025</span>
                    </div>
                    <div class="calender-info-button-container">
                        <button onclick='monthDecrease()' id="calender-info-leftbutton" class="calender-info-button"></button>
                        <button onclick='monthCurrent()' id="calender-info-todaybutton" class="calender-info-button">TODAY</button>
                        <button onclick='monthIncrease()' id="calender-info-rightbutton" class="calender-info-button"></button>
                    </div>
                </div>
                <div class="calender-date-day-container">
                    <div class="calender-date-day"> SUN.</div>
                    <div class="calender-date-day"> MON.</div>
                    <div class="calender-date-day"> TUE.</div>
                    <div class="calender-date-day"> WED.</div>
                    <div class="calender-date-day"> THU.</div>
                    <div class="calender-date-day"> FRI.</div>
                    <div class="calender-date-day"> SAT.</div>
                </div>
                <div id="calender-date-container"> 

                </div>
                <div id="calender-addschedule-popup">
                    <button class="close-button" onclick="closeAddSchedulePopup()">✖</button>
                    <form style="line-height: 40%;" id="input-form">
                        <input type="number" name="id" id="input-id" style="display:none">
                        <input type="checkbox" name="isCompleted" id="input-isCompleted" style="display:none">
                        <input type="text" name="name" id="input-name" placeholder="이름">
                        <input type="color" name="color" id="input-color" value="#00FFFF">
                        <br><br>
                        <input type="date" name="startDate" id="input-start-date">
                        ~
                        <input type="date" name="endDate" id="input-end-date">
                        <br><br>
                        <textarea name="description" id="input-description" cols="50" rows="5" placeholder="설명"></textarea>
                        <br><br>
                        <button type="button" id="input-save">저장</button>
                        <button type="button" id="input-delete">삭제</button>
                    </form>
                </div>
            </div>
            <div class="todo-container">
                <div class="todo-info-container">
                    <span class="todo-info-text">TODO List</span>
                </div>
                <div class = "todo-list-container"> 
                    <div class="todo">
                        <span class="todo-day-text">D-1</span>
                        <span class="todo-name-text">todo</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

